*{
    margin: 0;
}
h1{
    text-align: center;
    font-size: 50px;
}
#d1,#d2,#d3,#d4,#d5,#d6,#d7,#d8,#d9,#d10,#d11,#d12,#d13,#d14,#d15,#d16,#d17,#d18{
    background-size: 100% 100%;
    height: 100vh;
    background-attachment: fixed;

}
#d1{
    background-image:url(frontend.jpg);
}
#d2{
    background-image:url(html.jpg);
}
#d3{
    background-image:url(css.jpg);
}
#d4{
    background-image:url(javascript.jpg);
}
#d5{
    background-image:url(React.jpg);
}
#d6{
    background-image:url(anglar.jpg);

}
#d7{
    background-image:url(vuejs.jpg);
}
#d8{
    background-image:url(bootstrap.jpg);
}
#d9{
    background-image:url(git.jpg);
}
#d10{
    background-image:url(backend.jpg);
}
#d11{
    background-image:url(python.jpg);
}
#d12{
    background-image:url(java.jpg);
}
#d13{
    background-image:url(nodejs.jpg);
}
#d14{
    background-image:url(php.jpg);
}
#d15{
    background-image:url(django.jpg);
}
#d16{
    background-image:url(sql.jpg);
}
#d17{
    background-image:url(mern.jpg);

}
#d18{
    background-image:url(mean.jpg);
}